body{
    background: white;
    margin: 0;
    font-family: "Verdana";
    font-size: 30px;
}

#par {
    margin: 20px;
    padding: 15px 20px;
    box-sizing: content-box;
    background-color: rgb(212, 212, 212);
    min-height: 300px;
}
